#ros-accordion {
    h3.ros {
        padding: 3px !important;
        margin-top: 3px;
        border-top: 1px dashed $hot-yellow;
        line-height: 1;
        font-weight: 600;
        font-family: 'Zen Dots';
        font-size: 20px;
        letter-spacing: 1px;

        span.spacer {
            height: 5px;
            display: block;
        }
    }
    div {
        overflow-x: hidden;
        margin-bottom: 3px;
    }
    .session-times {
        display: none;
    }
    .session-spacer {
        height: 50px;
    }
    .profile-card {
        line-height: 120%;
        font-size: 0.8rem;

        .social-icon {
            color: #fff;
            display: table-cell;
            padding: 10px;
        }

        span {
            display: block;
            text-align: center;
            font-size: 0.7rem;
        }

        span.profile-name {
            font-weight: 600;
            font-family: 'Zen Dots';
            font-size: 0.8rem;
            padding-bottom: 5px;
            border-bottom: 1px dashed #ccc;
            margin-bottom: 5px;
        }

        .blurb {
            display: none;
        }
    }

    p {
        font-size: 20px;
    }

    .profile-thumbnail {
        overflow: hidden;
        padding: 15px;

        img {
            width: 150px;
            display: block;
            margin: 0 auto;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    }

    .card-info {
        visibility: hidden;
    }

    .fifth {
        @media (min-width: 1200px) {
            width: 20% !important;
        }
    }

    .education-summit .profile-thumbnail img {
        box-shadow: 0 0 10px 10px rgba(176, 2, 255, 0.3);
    }

    .brand-summit .profile-thumbnail img {
        box-shadow: 0 0 10px 10px rgba(176, 0, 0, 0.3);
    }

    .production-summit .profile-thumbnail img {
        box-shadow: 0 0 10px 10px rgba(0, 0, 176, 0.3);
    }
}

#ros-accordion.cards {
    width: 1200px !important;
    margin-left: 25px;

    span.blurb {
        visibility: hidden;
    }

    #speaker-list {
        width: 100%;
        position: absolute;
        top: 100px;
        overflow: hidden;

        .fifth {
            width: 20% !important;

            .profile-name {
                width: 100%;
                display: block;
                margin-left: 0;
                font-size: 14px;
                height: 30px;
            }

            text-shadow: 8px 6px 26px #000;
        }

        .presentation {
            width: 90% !important;
            margin-top: -25px;
            overflow-y: hidden;
            margin-left: 8% !important;

            span.blurb {
                visibility: visible;
                display: block;
                width: 65%;
                text-align: left;
                margin-left: 0;
                font-size: 20px;
                line-height: 150%;
                position: absolute;
                top: 160px;
                text-shadow: 1px 1px #000;
                overflow-y: hidden;
                padding: 10px;

                p {
                    padding-left: 10%;
                    font-size: 20px;
                }
            }

            .profile-card {
                margin-top: 30px;
            }

            .profile-thumbnail {
                width: 25%;
                display: inline-block;

                img {
                    margin-left: 0;
                    width: 100%;
                }
            }

            .profile-info {
                width: 70%;
                display: inline;
                float: right;
                height: 350px;

                .social {
                    display: block;

                    a {
                        margin-right: 0.5em;
                    }
                }

                span.credential span {
                    font-size: 16px !important;
                    line-height: 150% !important;
                    font-weight: 600;
                    border-radius: 10px;
                }

                span.profile-name {
                    text-decoration: underline;
                    display: block;
                    text-align: center;
                    border-bottom: none;
                    font-size: 24px;
                    height: 30px;
                }
            }

            .samantha-mathews {
                font-size: 20px !important;
            }
        }

        .interview {
            overflow: hidden;
            position: relative;

            span.blurb {
                top: 25px;
                background: rgba(0, 0, 0, 0.5);
                visibility: visible;

                p {
                    margin-top: 20px;
                    padding-left: 20%;
                    text-shadow: 2px 2px 2px black;
                }
            }
        }

        .pair {
            width: 35% !important;
            margin-left: 10%;

            .profile-card {
                .profile-name {
                    width: 100%;
                    display: block;
                    margin-left: 0;
                    font-size: 20px;
                    height: 30px;
                }

                span.credential {
                    border-radius: 10px;

                    span {
                        font-size: 16px !important;
                        line-height: 150% !important;
                        font-weight: 600;
                    }
                }

                .samantha-mathews {
                    font-size: 20px !important;
                }
            }
        }

        .three {
            width: 33.33333% !important;
        }

        .samantha-mathews {
            font-size: 15px !important;
        }
    }

    .card-mode {
        border: 3px solid #fff;
        width: 1200px;
        height: 630px;
        padding: 20px;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        color: #fff;
    }

    .trans-card {
        color: #fff;
        width: 100%;
        height: 630px;
        padding: 20px;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;

        .panel-blurb {
            top: 70%;
            position: relative;

            p {
                padding: 0px 10%;
            }
        }

        .sponsor-logo {
            display: none;
        }

        .card-footer,
        .session-times,
        h4 {
            display: none;
        }
    }

    h3.ros {
        display: none;
    }

    h3 {
        font-weight: bold;
        font-family: 'AgencyFB';
        text-align: right;
        font-size: 24px;
        margin: 0 auto 25px;
        position: absolute;
        top: 25px;
        width: 100%;
        text-align: center;
    }

    h4 {
        font-weight: bold;
        font-family: 'AgencyFB';
        color: #fff;
        font-size: 36px;
        padding-left: 30%;
        margin: 0 auto 25px;
        position: absolute;
        width: 100%;
        top: 425px;
        text-align: center;
    }

    .education-summit h4 {
        text-shadow: 3px 3px 3px #530066, -3px -3px 3px #530066;
    }

    .production-summit h4 {
        text-shadow: 3px 3px 3px #0000aa, -3px -3px 3px #0000aa;
    }

    p {
        font-size: 20px;
        padding-left: 23%;
    }

    .card-info {
        visibility: visible;
    }

    h3.card-info {
        font-size: 48px;
    }

    .social {
        visibility: hidden;
    }

    .profile-card {
        span.credential {
            border-radius: 10px;

            span {
                font-size: 14px !important;
                line-height: 150% !important;
                font-weight: 600;
                text-shadow: 2px 2px 4px #000, -2px -2px 2px #000;
            }
        }

        span.profile-name {
            font-weight: 600;
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px dashed #ccc;
            margin: 10px auto 5px;
            line-height: 150%;
            letter-spacing: 1px;
            width: 100%;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
            display: block;
        }

        .samantha-mathews {
            font-size: 15px !important;
        }

        .terry-schussler {
            font-size: 14px !important;
        }

        .chris-duffey .credentials {
            width: 90%;
            margin-left: 5%;
        }
    }

    .session-times {
        display: block;
        text-align: right;
        margin: 0 auto 25px;
        position: absolute;
        top: 470px;
        left: 50%;
        font-family: "AgencyFB";

        li {
            display: inline-block;
            padding: 0 10px;
            text-align: center;
            font-weight: 900;
            border-right: 1px dashed #ccc;
            font-size: 36px;
            line-height: 24px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px #000, -2px -2px 2px #000;

            span {
                font-weight: 600;
                font-size: 50%;
                margin-bottom: 5px;
                display: inline-table;
            }
        }

        li:last-child {
            border-right: none;
        }
    }

    .card-footer {
        position: absolute;
        bottom: 7px;
        left: 30%;
        height: 80px;
        width: 75%;
        overflow: hidden;
        line-height: 35px;
        padding-top: 9px;

        .event-info {
            .rsvp-link {
                text-shadow: 2px 2px 2px #000, -2px -2px 2px #000;
                font-size: 20px;
                display: inline-block;
            }

            a {
                visibility: visible !important;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    .host {
        position: absolute;
        font-family: "AgencyFB";
        font-size: 24px;
        top: 575px;
        left: 40px;
        color: #d96af1;
    }
}
